$textColor: black;
$backgroundColor: white;
$navbarBackgroundColor: white;
$noteBackgroundColor: rgb(239, 239, 239);
$lastModifiedColor: rgb(126, 126, 126);
$noteListTextColor: rgb(94, 93, 93);
$noteButtonBackgroundColor: rgb(209, 209, 209);
$noNotesYetButtonBackgroundColor:  rgb(101, 164, 219);
$searchBoxBackgroundColor: rgb(219, 219, 219);
$textAreaCurser: auto;


// $textColor: white;
// $backgroundColor: #525252;
// $navbarBackgroundColor: #414141;
// $noteBackgroundColor: rgb(125, 125, 125);
// $lastModifiedColor: rgb(200, 200, 200);
// $noteListTextColor: rgb(230, 230, 230);
// $noteButtonBackgroundColor: rgb(209, 209, 209);
// $noNotesYetButtonBackgroundColor:  rgb(101, 164, 219);
// $searchBoxBackgroundColor: rgb(142, 142, 142);
// $textAreaCurser: url("../assets/White\ Text\ Select.cur"), auto;

