body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body #background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
body #background #app {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
}
body #background #app #navbar {
  width: 100%;
  height: 15%;
  box-shadow: 0 4px 6px -6px #222;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
body #background #app #navbar #logo {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}
body #background #app #navbar .nav-btn {
  border: none;
  background-color: white;
  margin: 0 10px;
  height: 30px;
  display: inline-block;
  position: relative;
}
body #background #app #navbar .nav-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
body #background #app #navbar .nav-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
body #background #app #main {
  width: 100%;
  height: 85%;
  position: relative;
}
body #background #app #main #work-space {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  overflow: hidden;
  -webkit-animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
body #background #app #main #work-space #notes-list {
  width: 35%;
  padding: 0 10px;
  margin: 0;
  overflow: auto;
}
body #background #app #main #work-space #notes-list .notes-list-note.fade-out {
  -webkit-animation: fade-out 0.25s ease-out both;
          animation: fade-out 0.25s ease-out both;
}
body #background #app #main #work-space #notes-list .notes-list-note {
  max-height: 140px;
  width: 100%;
  margin: 10px 0;
  background-color: rgb(239, 239, 239);
  cursor: pointer;
  border-radius: 7px;
  padding: 7px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
body #background #app #main #work-space #notes-list .notes-list-note .last-modified {
  font-size: 13px;
  margin: 0;
  color: rgb(126, 126, 126);
}
body #background #app #main #work-space #notes-list .notes-list-note .note-list-text {
  width: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* hide text after 3 lines */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  /* make text wrap to the next line */
  font-size: 14px;
  color: rgb(94, 93, 93);
}
body #background #app #main #work-space #notes-list .notes-list-note .edit-delete-icons {
  margin: 7px 0 5px;
  display: flex;
  justify-content: center;
}
body #background #app #main #work-space #notes-list .notes-list-note .edit-delete-icons button {
  font-size: 13px;
  margin: 0 7px;
  background-color: rgb(209, 209, 209);
  border-radius: 5px;
  padding: 0 7px;
  border: none;
}
body #background #app #main #work-space #notes-list .notes-list-note .edit-delete-icons .edit-btn:hover {
  background-color: white;
  color: black;
}
body #background #app #main #work-space #notes-list .notes-list-note .edit-delete-icons .delete-btn {
  color: rgb(219, 62, 62);
}
body #background #app #main #work-space #notes-list .notes-list-note .edit-delete-icons .delete-btn:hover {
  color: white;
  background-color: rgb(219, 62, 62);
}
body #background #app #main #work-space #notes-list .notes-list-note .edit-delete-icons .fa-solid {
  margin: 0 3px;
}
body #background #app #main #work-space #form-container {
  width: 65%;
  height: 100%;
  padding: 5px;
}
body #background #app #main #work-space #form-container #form-datails-container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
body #background #app #main #work-space #form-container #form-datails-container #last-modified-container #last-modified-title {
  display: inline-block;
}
body #background #app #main #work-space #form-container #form-datails-container #last-modified-container #last-modified-details {
  margin: 0;
}
body #background #app #main #work-space #form-container #form-datails-container button {
  height: 40px;
  width: 80px;
  border-radius: 50px;
  border: none;
  background-color: rgb(122, 187, 210);
  color: white;
}
body #background #app #main #work-space #form-container #form-datails-container button:hover {
  color: rgb(122, 187, 210);
  background-color: rgb(226, 239, 244);
  border: 2px solid rgb(122, 187, 210);
}
body #background #app #main #work-space #form-container textarea {
  width: 100%;
  height: 85%;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin: 0 5px;
}
body #background #app #main #grid-of-notes {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px 15px;
  -webkit-animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
body #background #app #main #grid-of-notes .text-box-container {
  overflow: auto;
  display: grid;
  -moz-column-gap: 2%;
       column-gap: 2%;
  grid-template-columns: 18% 18% 18% 18% 18%;
  flex-wrap: wrap;
  width: 100%;
}
body #background #app #main #grid-of-notes .text-box-container .text-box {
  height: 250px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: rgb(239, 239, 239);
  cursor: pointer;
}
body #background #app #main #grid-of-notes .text-box-container .text-box .note-text {
  height: 75%;
  inline-size: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 14px;
}
body #background #app #main #grid-of-notes .text-box-container .text-box .last-modified {
  font-size: 13px;
  margin: 0 0 3px;
  color: gray;
  height: 12%;
}
body #background #app #main #grid-of-notes .text-box-container .text-box .delete-btn-container {
  display: flex;
  justify-content: center;
  height: 13%;
}
body #background #app #main #grid-of-notes .text-box-container .text-box .delete-btn-container button {
  border: none;
  border-radius: 5px;
  background-color: rgb(209, 209, 209);
  font-size: 13px;
  height: 25px;
  width: 70px;
}
body #background #app #main .no-notes-yet {
  position: absolute;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  transform: translateY(0);
  border-radius: 10px;
  -webkit-animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
body #background #app #main .no-notes-yet h1 {
  margin-bottom: 20px;
}
body #background #app #main .no-notes-yet button {
  height: 50px;
  width: 190px;
  border-radius: 5px;
  border: none;
  background-color: rgb(101, 164, 219);
  color: white;
  font-size: 20px;
}
body #background #app #main .no-notes-yet.hidden {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
body #background #app #main #search-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
body #background #app #main #search-container #search-input {
  margin: 100px 0 20px;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  padding: 0 10px;
}
body #background #app #main #search-container #options-container {
  border: black solid 1px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0 5px;
}
body #background #app #main #search-container #options-container .option {
  border-bottom: rgb(155, 155, 155) solid 1px;
  display: flex;
  align-items: center;
  padding: 8px 5px;
  max-width: 470px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

@-webkit-keyframes slide-in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */